body {
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	position: absolute;
	font-family: "Plus Jakarta Sans", sans-serif;
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	background: url("https://avatars.githubusercontent.com/u/56479219?v=4");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}

.users {
	width: 500px;
	background-color: rgb(248, 248, 248);
	border-radius: 25px;
	border: 1px solid #999;
	padding: 30px;
	display: block;
	z-index: 3;
	margin: 100px auto 100px auto;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.profile_details {
	display: flex;
	flex-direction: row-reverse;
}

.avatar_url {
	width: 120px;
}

.namewrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.name,
.login {
	padding-top: 15px;
}

.name {
	font-size: 36px;
	font-weight: 600;
}

.login {
	font-size: 22px;
	color: #555;
	font-weight: 300;
}

.bio {
	padding-top: 15px;
	font-size: 20px;
	line-height: 30px;
}

.text {
	padding-top: 15px;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-weight: 500;
}

.times {
	display: flex;
}

.times * {
	flex: 4 3 100px;
}

.continfo {
	display: flex;
	padding-bottom: 20px;
}

.continfo i {
	padding-top: 25px;
	width: 150px;
}

.icon {
	color: grey;
}

.extraspace {
	padding-left: 10px;
	color: black;
}
